<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>zhanghua</string>
		<key>description</key>
		<string>shanghai ning</string>
		<key>age</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>fengzhe</string>
		<key>description</key>
		<string>HeNan ning</string>
		<key>age</key>
		<integer>32</integer>
	</dict>
</array>
</plist>
